/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.header{
    background-color: #d7d7d7;
}

.footer{
    background-color: #d7d7d7;
}

.border_no_right {
    border-right: 0;
}

.border_no_left {
    border-left: 0;
}

.border_no_top {
    border-top: 0;
}

.border_no_bottom {
    border-bottom: 0;
}

.gwt_logo {
    /*background-image: url('web/img/avanti_logo_64.png');*/
    /*background-position: right bottom;*/
    /*background-repeat: no-repeat;*/
    position: absolute;
    opacity: 50;
    vertical-align: bottom;
    right: 25px;
    bottom: 25px;

}

.gwt_main {
    padding-right: 15px;
    padding-bottom: 15px;
}