<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.damintsev.server.services.ServerService</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/mainGWT/service</url-pattern>
  </servlet-mapping>

    <!--<servlet>-->
        <!--<servlet-name>imageUpload</servlet-name>-->
        <!--<servlet-class>com.damintsev.servlet.ImageUpload</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>imageUpload</servlet-name>-->
        <!--<url-pattern>/download</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>remoteLogging</servlet-name>
        <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remoteLogging</servlet-name>
        <url-pattern>/mainGWT/remote_logging</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>mainGWT.html</welcome-file>
  </welcome-file-list>



</web-app>
